@font-face {
  font-family: "Neo Sans";
  src: url("/fonts/Neo-Sans-Std-Regular.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

body {
  font-family: "Exo 2", serif;
}

.scene {
  perspective: 1000px;
}
